.vs/OnlineStoreWebApp/v17/HierarchyCache.v1.txt
OnlineStoreWebApp/bin
OnlineStoreWebApp/obj/Debug/net6.0/OnlineStoreWebApp.csproj.BuildWithSkipAnalyzers
OnlineStoreWebApp/obj/Debug/net6.0/project.razor.json
OnlineStoreWebApp/OnlineStoreWebApp.csproj.user
